/*  mobile first */

/* logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-booki {
  width: 61px;
  margin: 21px;
}

/* navigation */

#navbar-link-sign-up {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar-link {
  flex: 1; /* 1; pour que chaque lien prenne une part égale de l'espace disponible */
  text-align: center;
}

nav a {
  position: relative;
  transition: color 0.3s ease;
  padding: 20px 0;
  display: block; /* pour que l'élément a prenne toute la largeur (disponible) de son parent */
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

nav a:hover {
  color: var(--blue);
  font-weight: 520;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%; /* pour que l'élément ::before soit sur toute la largeur du lien */
  height: 3px;
  background: var(--light-grey);
  bottom: -5px; /* pour placer les éléments ::before sous les liens avec un espacement de 5px */
  left: 0;
  transition: background 0.3s ease;
}

nav a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--blue);
  bottom: -5px;
  left: 0;
}

